---
import { otherprojects } from "../../data/otherprojects.json";
---

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6">
      <p
        class="text-xs lg:col-start-2 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2000">
        I'm a self-taught front-end designer and developer who enjoys creating
        modern designs with Tailwind CSS. I have customers worldwide and have
        had successful projects. Recently, two of my projects were acquired, and
        I'm currently working on Lexington Themes. I also curate Colors &amp;
        Fonts and create VS Code Themes.
      </p>
      <p
        class="text-xs lg:col-start-2 leading-relaxed underline underline-offset-4"
        data-aos="fade-up"
        data-aos-duration="2500">
        I am currently available for Enquires. If you need a landing page or
        redesign something that you already have, do not hesitate to get in
        contact. <a href="mailto:michael@andreuzza.com">michael@andreuzza.com</a
        >
      </p>
      <p
        class="text-xs lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2500">
        As a solo developer, I offer a unique and personalized approach to
        design and build exclusively and responsive landing pages using Astro
        and Tailwind CSS.
      </p>
      <p
        class="text-xs lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="3000">
        My singular focus on your project ensures efficient and effective
        results, delivering a stunning website tailored to your specific
        business needs and goals. Trust on my expertise allows to craft anything
        that will help you stand out and convert visitors into customers.
      </p>
    </div>
  </div>

  <div class="px-8 2xl:max-w-7xl mx-auto py-32">
    <div class="space-y-2">
      <div
        class="h-0.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="1000">
      </div>
      <h3
        class="text-secondary text-xs font-medium"
        data-aos="fade-up"
        data-aos-duration="1500">
        <span>Main</span>
        <span class="font-bold">projects</span>
      </h3>
    </div>
    <ul
      class="mx-auto grid grid-cols-1 sm:grid-cols-2 text-secondary md:grid-cols-3 lg:grid-cols-4 items-start gap-6 mt-32"
      role="list">
      <li class="flow-root h-full" data-aos="fade-up" data-aos-duration="1500">
        <a href="https://www.lexingtonthemes.com/">
          <div class="h-full flex flex-col justify-between">
            <div>
              <p
                class="group-hover:text-secondary/70 text-secondary text-9xl font-bold lg:rotate-90 xl:-translate-x-28 lg:-translate-x-16 lg:mb-8 xl:mb-0">
                01.
              </p>
              <p class="italic shrink-0">Lexington Themes</p>
              <p class="text-xs mt-3 leading-relaxed">
                Premium themes and UI Kits For designers, developers,
                businesses, and personal use — Beautifully crafted with
                Astro.js, and Tailwind CSS — Simple & easy to customize.
              </p>
            </div>
            <div>
              <p class="mt-3 text-xs font-semibold">
                Check out Lexington Themes &nbsp; ↗
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="flow-root h-full" data-aos="fade-up" data-aos-duration="2000">
        <a href="https://www.windstatic.com/">
          <div class="h-full flex flex-col justify-between">
            <div>
              <p
                class="group-hover:text-secondary/70 text-secondary text-9xl font-bold lg:rotate-90 xl:-translate-x-28 lg:-translate-x-16 lg:mb-8 xl:mb-0">
                02.
              </p>
              <p class="italic shrink-0">Windstatic</p>
              <p class="text-xs mt-3 leading-relaxed">
                A set of 161 elements & layouts made with Tailwind CSS and
                Alpine.js Skillfully designed with an eye for aesthetics,
                offering an excellent starting point for your upcoming project.
              </p>
            </div>
            <div>
              <p class="mt-3 text-xs font-semibold">
                Have a look to Windstatic &nbsp; ↗
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="flow-root h-full" data-aos="fade-up" data-aos-duration="2500">
        <a href="https://www.colorsandfonts.com/">
          <div class="h-full flex flex-col justify-between">
            <div>
              <p
                class="group-hover:text-secondary/70 text-secondary text-9xl font-bold lg:rotate-90 xl:-translate-x-28 lg:-translate-x-16 lg:mb-8 xl:mb-0">
                03.
              </p>
              <p class="italic shrink-0">Colors & Fonts</p>
              <p class="text-xs mt-3 leading-relaxed">
                Color and typography resources and inspiration ━ for Web
                Developers and Digital Designers.
              </p>
            </div>
            <div>
              <p class="mt-3 text-xs font-semibold">
                Grab some hues on Colors & fonts &nbsp; ↗
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="flow-root h-full" data-aos="fade-up" data-aos-duration="3000">
        <a href="https://www.unwrapped.design/">
          <div class="h-full flex flex-col justify-between">
            <div>
              <p
                class="group-hover:text-secondary/70 text-secondary text-9xl font-bold lg:rotate-90 xl:-translate-x-28 lg:-translate-x-16 lg:mb-8 xl:mb-0">
                04.
              </p>
              <p class="italic shrink-0">Unwrapped Design</p>
              <p class="text-xs mt-3 leading-relaxed">
                Free and premium ━ digital resources for digital designers and
                web developers.
              </p>
            </div>
            <div>
              <p class="mt-3 text-xs font-semibold">
                Get some wallpapers &nbsp; ↗
              </p>
            </div>
          </div>
        </a>
      </li>
    </ul>
    <div class="mt-32 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
      <h3 class="text-secondary text-xs font-medium">
        <span>Other</span>
        <span class="font-bold">projects</span>
      </h3>
    </div>

    <ul
      class="mx-auto grid grid-cols-1 sm:grid-cols-2 text-left divide-y-2 divide-primary lg:grid-cols-4 items-start text-primary mt-3">
      {
        otherprojects.map((template) => (
          <>
            <li class="flow-root col-span-full h-full hover:bg-transparent hover:text-secondary bg-secondary duration-200">
              <a
                href={template.url}
                class="flex flex-col sm:flex-row justify-between gap-6 h-full ">
                <div class="p-3">
                  <p class="italic shrink-0">{template.title}</p>
                </div>
                <div class="p-3 ">
                  <p class="text-xs leading-relaxed">{template.description}</p>
                </div>
              </a>
            </li>
          </>
        ))
      }
    </ul>
  </div>
</section>
