---
import { features } from "../../data/features.json";
---

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="mt-32 space-y-2">
      <div
        class="h-0.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="1000">
      </div>
      <h3
        class="text-secondary text-xs font-medium"
        data-aos="fade-up"
        data-aos-duration="1500">
        <span>Popular</span>
        <span class="font-bold">featured</span>
        <span class="italic">work</span>
      </h3>
      <div
        class="h-1.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="2000">
      </div>
      <div class="h-3 bg-secondary" data-aos="fade-up" data-aos-duration="2500">
      </div>
      <div class="h-6 bg-secondary" data-aos="fade-up" data-aos-duration="3000">
      </div>
      <div
        class="h-12 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="3000">
      </div>
      <div
        class="h-24 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="3000"
        data-aos-delay="150">
      </div>
    </div>

    <ul
      class="mx-auto flex flex-col lg:flex-row text-left gap-3 items-start text-secondary mt-3">
      {
        features.map((template) => (
          <>
            <li class="flow-root col-span-full h-full ">
              <a href={template.url}>
                <div>
                  <p class="italic shrink-0 text-xs ">{template.title}</p>
                </div>
              </a>
            </li>
          </>
        ))
      }
    </ul>
  </div>
</section>
