<!------
  /------------------
// Big SVG hero Name
//-------------------
//
// If you want to change your name you will have to recreate it
// in Figma or any other way you can export text as SVG
// After you have exported it, you have to remove the size atributes from the SVG
// this will allow the SVG become full width and full heigh. It will also be responsive.
--- -->
<section class="bg-primary">
  <div
    class="px-8 2xl:max-w-7xl mx-auto pt-12"
    data-aos="fade-up"
    data-aos-duration="2000">
    <svg class="text-secondary" viewBox="0 0 2126 374" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M199.82 110.094C220.654 123.44 232.617 146.389 235.709 178.941H166.129C165.152 169.99 162.63 162.91 158.561 157.701C150.911 148.261 137.89 143.541 119.498 143.541C104.361 143.541 93.5378 145.901 87.0273 150.621C80.6797 155.341 77.5059 160.875 77.5059 167.223C77.5059 175.198 80.9238 180.976 87.7598 184.557C94.5957 188.3 118.766 194.729 160.27 203.844C187.939 210.354 208.691 220.201 222.525 233.385C236.197 246.731 243.033 263.414 243.033 283.434C243.033 309.801 233.186 331.367 213.492 348.131C193.961 364.732 163.688 373.033 122.672 373.033C80.8424 373.033 49.918 364.244 29.8984 346.666C10.0417 328.925 0.113281 306.383 0.113281 279.039H70.6699C72.1348 291.409 75.3086 300.198 80.1914 305.406C88.8177 314.684 104.768 319.322 128.043 319.322C141.715 319.322 152.538 317.288 160.514 313.219C168.652 309.15 172.721 303.046 172.721 294.908C172.721 287.096 169.465 281.155 162.955 277.086C156.445 273.017 132.275 266.018 90.4453 256.09C60.3346 248.603 39.0944 239.244 26.7246 228.014C14.3548 216.946 8.16992 200.995 8.16992 180.162C8.16992 155.585 17.7728 134.508 36.9785 116.93C56.347 99.1888 83.528 90.3184 118.521 90.3184C151.725 90.3184 178.824 96.9102 199.82 110.094ZM456.695 364L414.947 170.152L372.711 364H300.445L225.738 97.8867H300.445L341.949 288.805L380.279 97.8867H450.836L491.363 289.537L532.867 97.8867H605.377L528.229 364H456.695ZM675.484 97.8867V364H604.928V97.8867H675.484ZM675.484 1.93945V66.1484H604.928V1.93945H675.484ZM886.461 110.094C907.294 123.44 919.257 146.389 922.35 178.941H852.77C851.793 169.99 849.27 162.91 845.201 157.701C837.551 148.261 824.531 143.541 806.139 143.541C791.002 143.541 780.178 145.901 773.668 150.621C767.32 155.341 764.146 160.875 764.146 167.223C764.146 175.198 767.564 180.976 774.4 184.557C781.236 188.3 805.406 194.729 846.91 203.844C874.579 210.354 895.331 220.201 909.166 233.385C922.838 246.731 929.674 263.414 929.674 283.434C929.674 309.801 919.827 331.367 900.133 348.131C880.602 364.732 850.328 373.033 809.312 373.033C767.483 373.033 736.559 364.244 716.539 346.666C696.682 328.925 686.754 306.383 686.754 279.039H757.311C758.775 291.409 761.949 300.198 766.832 305.406C775.458 314.684 791.409 319.322 814.684 319.322C828.355 319.322 839.179 317.288 847.154 313.219C855.292 309.15 859.361 303.046 859.361 294.908C859.361 287.096 856.106 281.155 849.596 277.086C843.085 273.017 818.915 266.018 777.086 256.09C746.975 248.603 725.735 239.244 713.365 228.014C700.995 216.946 694.811 200.995 694.811 180.162C694.811 155.585 704.413 134.508 723.619 116.93C742.988 99.1888 770.169 90.3184 805.162 90.3184C838.365 90.3184 865.465 96.9102 886.461 110.094ZM1124.78 110.094C1145.61 123.44 1157.58 146.389 1160.67 178.941H1091.09C1090.11 169.99 1087.59 162.91 1083.52 157.701C1075.87 148.261 1062.85 143.541 1044.46 143.541C1029.32 143.541 1018.5 145.901 1011.99 150.621C1005.64 155.341 1002.47 160.875 1002.47 167.223C1002.47 175.198 1005.88 180.976 1012.72 184.557C1019.56 188.3 1043.73 194.729 1085.23 203.844C1112.9 210.354 1133.65 220.201 1147.49 233.385C1161.16 246.731 1167.99 263.414 1167.99 283.434C1167.99 309.801 1158.15 331.367 1138.45 348.131C1118.92 364.732 1088.65 373.033 1047.63 373.033C1005.8 373.033 974.879 364.244 954.859 346.666C935.003 328.925 925.074 306.383 925.074 279.039H995.631C997.096 291.409 1000.27 300.198 1005.15 305.406C1013.78 314.684 1029.73 319.322 1053 319.322C1066.68 319.322 1077.5 317.288 1085.47 313.219C1093.61 309.15 1097.68 303.046 1097.68 294.908C1097.68 287.096 1094.43 281.155 1087.92 277.086C1081.41 273.017 1057.24 266.018 1015.41 256.09C985.296 248.603 964.055 239.244 951.686 228.014C939.316 216.946 933.131 200.995 933.131 180.162C933.131 155.585 942.734 134.508 961.939 116.93C981.308 99.1888 1008.49 90.3184 1043.48 90.3184C1076.69 90.3184 1103.79 96.9102 1124.78 110.094ZM1178.53 291.246H1252.51V364H1178.53V291.246ZM1403.67 1.93945V58.5801C1399.76 58.0918 1393.17 57.7663 1383.89 57.6035C1374.78 57.278 1368.43 59.3125 1364.85 63.707C1361.43 67.9388 1359.72 72.6589 1359.72 77.8672V100.328H1405.38V149.4H1359.72V364H1290.39V149.4H1251.57V100.328H1289.65V83.2383C1289.65 54.7552 1294.46 35.1426 1304.06 24.4004C1314.15 8.44987 1338.48 0.474609 1377.06 0.474609C1381.45 0.474609 1385.44 0.63737 1389.02 0.962891C1392.6 1.12565 1397.48 1.45117 1403.67 1.93945ZM1627.34 131.578C1649.8 159.736 1661.03 193.02 1661.03 231.432C1661.03 270.494 1649.8 303.941 1627.34 331.773C1604.88 359.443 1570.78 373.277 1525.04 373.277C1479.31 373.277 1445.21 359.443 1422.75 331.773C1400.29 303.941 1389.06 270.494 1389.06 231.432C1389.06 193.02 1400.29 159.736 1422.75 131.578C1445.21 103.421 1479.31 89.3418 1525.04 89.3418C1570.78 89.3418 1604.88 103.421 1627.34 131.578ZM1524.8 148.18C1504.46 148.18 1488.75 155.423 1477.68 169.908C1466.78 184.231 1461.32 204.739 1461.32 231.432C1461.32 258.124 1466.78 278.714 1477.68 293.199C1488.75 307.685 1504.46 314.928 1524.8 314.928C1545.15 314.928 1560.77 307.685 1571.68 293.199C1582.58 278.714 1588.03 258.124 1588.03 231.432C1588.03 204.739 1582.58 184.231 1571.68 169.908C1560.77 155.423 1545.15 148.18 1524.8 148.18ZM1672.54 4.13672H1742.12V364H1672.54V4.13672ZM1841.77 97.8867V364H1771.22V97.8867H1841.77ZM1841.77 1.93945V66.1484H1771.22V1.93945H1841.77ZM2091.32 131.578C2113.79 159.736 2125.02 193.02 2125.02 231.432C2125.02 270.494 2113.79 303.941 2091.32 331.773C2068.86 359.443 2034.76 373.277 1989.03 373.277C1943.29 373.277 1909.2 359.443 1886.73 331.773C1864.27 303.941 1853.04 270.494 1853.04 231.432C1853.04 193.02 1864.27 159.736 1886.73 131.578C1909.2 103.421 1943.29 89.3418 1989.03 89.3418C2034.76 89.3418 2068.86 103.421 2091.32 131.578ZM1988.79 148.18C1968.44 148.18 1952.73 155.423 1941.67 169.908C1930.76 184.231 1925.31 204.739 1925.31 231.432C1925.31 258.124 1930.76 278.714 1941.67 293.199C1952.73 307.685 1968.44 314.928 1988.79 314.928C2009.13 314.928 2024.76 307.685 2035.66 293.199C2046.57 278.714 2052.02 258.124 2052.02 231.432C2052.02 204.739 2046.57 184.231 2035.66 169.908C2024.76 155.423 2009.13 148.18 1988.79 148.18Z" fill="currentColor"/>
      </svg>
      
  </div>
  <div class="px-8 2xl:max-w-7xl mx-auto pb-12">
    <div class="mt-6 space-y-2">
      <div
        class="h-0.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="1000">
      </div>
      <div
        class="flex flex-col sm:flex-row gap-3 justify-between lg:items-center"
        data-aos="fade-up"
        data-aos-duration="1500">
        <div class="flex gap-3 items-center">
          <h3 class="text-secondary text-xs font-medium">
            <span>UI Designer</span>
            <span class="font-bold">Front end dev</span>
            <span class="italic">Freelancer</span>
          </h3>
          <span class="h-auto border-secondary border"></span>
          <span class="text-secondary text-xs font-semibold"
            >Available for work</span
          >
        </div>
        <div>
          <ul class="lg:items-center flex justify-between w-full gap-3 relative text-xs">
            <li>
              <a
                href="https://github.com/michael-andreuzza"
                class="hover:text-secondary/80 text-secondary"
                >GitHub</a
              >
            </li><li>
              <a
                href="https://dribbble.com/MichaelAndreuzza"
                class="hover:text-secondary/80 text-secondary"
                >Dribbble</svg
                ></a
              >
            </li><li>
              <a
                href="https://x.com/Mike_Andreuzza"
                class="hover:text-secondary/80 text-secondary"
                >X</a
              >
            </li><li>
              <a
                href="#_"
                class="hover:text-secondary/80 text-secondary"
                >Email</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div
        class="h-1.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="2000">
      </div>
      <div class="h-3 bg-secondary" data-aos="fade-up" data-aos-duration="2500">
      </div>
      <div class="h-6 bg-secondary" data-aos="fade-up" data-aos-duration="3000">
      </div>
      <div
        class="h-12 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="3000">
      </div>
      <div
        class="h-24 bg-secondary flex items-end p-4"
        data-aos="fade-up"
        data-aos-duration="3000"
        data-aos-delay="150">
      </div>
      <div class="flex w-full">
        <span class="text-xs font-medium text-secondary flex"
          >See more templates on &nbsp;<a
            class="hover:text-black duration-200 font-bold"
            href="https://lexingtonthemes.com/">Lexington Themes</a
          ></span
        >
        <span class="text-xs font-medium text-secondary flex ml-auto"
          >Get it on &nbsp;<a
            class="hover:text-black text-secondary duration-200 font-bold"
            href="https://github.com/michael-andreuzza/swissfolio">GitHub</a
          ></span
        >
      </div>
    </div>
  </div>
</section>
