<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6 text-lg">
      <p
        class="text-3xl leading-6 lg:col-span-3 lg:text-5xl lg:leading-9 indent-32 lg:indent-32"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        I'm a self-taught front-end designer and developer who enjoys creating
        modern designs with Tailwind CSS. I have customers worldwide and have
        had successful projects. Recently, two of my projects were acquired, and
        I'm currently working on Lexington Themes. I also curate Colors &amp;
        Fonts and create VS Code Themes.
      </p>
      <p
        class="text-lg lg:col-start-2  leading-relaxed underline underline-offset-4"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        I am currently available for Enquires. If you need a landing page or
        redesign something that you already have, do not hesitate to get in
        contact. <a href="#_">michael@andreuzza.com</a
        >
      </p>
      <p
        class="lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        As a solo developer, I offer a unique and personalized approach to
        design and build exclusively and responsive landing pages using Astro
        and Tailwind CSS.
      </p>
      <p
        class="lg:col-start-4 leading-relaxed "
        data-aos="fade-up"
        data-aos-duration="3000"
      >
        My singular focus on your project ensures efficient and effective
        results, delivering a stunning website tailored to your specific
        business needs and goals.
        <br /><br />
        With a deep understanding of modern design principles and user behavior,
        I prioritize creating websites that not only look visually appealing but
        also drive meaningful engagement.
        <br /><br />
        Trust in my expertise to craft unique, high-performing solutions that help
        you stand out in a competitive market, turning your vision into a reality.
       
      </p>
      <p   class="text-3xl leading-6 lg:col-span-3 lg:text-7xl lg:leading-13 lg:col-start-2 lg:mt-48 indent-32 lg:indent-32"
      data-aos="fade-up"
      data-aos-duration="3000">
        Together, we can create a digital experience that converts visitors into
        loyal customers, leaving a lasting impression on your audience.

      </p>
    </div>
  </div>
</section>
