---
import { otherprojects } from "../../data/otherprojects.json";
---

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6">
      <p
        class="text-base lg:col-start-2 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        I'm a self-taught front-end designer and developer who enjoys creating
        modern designs with Tailwind CSS. I have customers worldwide and have
        had successful projects. Recently, two of my projects were acquired, and
        I'm currently working on Lexington Themes. I also curate Colors &amp;
        Fonts and create VS Code Themes.
      </p>
      <p
        class="text-base lg:col-start-2 leading-relaxed underline underline-offset-4"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        I am currently available for Enquires. If you need a landing page or
        redesign something that you already have, do not hesitate to get in
        contact. <a href="mailto:michael@andreuzza.com">michael@andreuzza.com</a
        >
      </p>
      <p
        class="text-base lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        As a solo developer, I offer a unique and personalized approach to
        design and build exclusively and responsive landing pages using Astro
        and Tailwind CSS.
      </p>
      <p
        class="text-base lg:col-start-4 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
        My singular focus on your project ensures efficient and effective
        results, delivering a stunning website tailored to your specific
        business needs and goals. Trust on my expertise allows to craft anything
        that will help you stand out and convert visitors into customers.
      </p>
    </div>
  </div>

</section>
