---
const testimonials = [
  {
    name: "Amrit Nagi",
    role: "Founder of Tailwind Toolbox",
    opinion:
      "I've been following Mike's career for a while now and it's amazing just how quickly the quality and variety of his work has developed and evolved! He's always learning or working on something new and constantly refining his work to be the best! His attention to detail, 'can do' attitude and work ethic is refreshing and he will definitely help you succeed!",
  },
  {
    name: "Gabriel Perales",
    role: "Software Engineer at Cabify",
    opinion:
      "Mike has helped me with many designs, and I couldn't follow his working speed when we worked together. His designs are slick, and he delivers a lot of value; he is constantly iterating his designs and making improvements.",
  },
  {
    name: "Volkan Kaya",
    role: "Founder of Versoly.com",
    opinion:
      "Mike is a rare breed of designer & developer that understands business needs. He leveraged his previous experience to build out a few landing pages very quickly for Versoly.",
  },
  {
    name: "Mike",
    role: "Blogger at Raspada",
    opinion:
      "I have had the absolute pleasure of working with Mike in the past when building my blog Raspada with its Backend UI or to building a private application for a leading hearing care company. Mike’s knowledge and attention to detail is second to none, and he really understands and listens to his clients (me).",
  },
];
// Function to calculate `data-aos-duration` based on index
function calculateAosDuration(index) {
  return 1500 + index * 500; // Example: Increment duration by 500ms for each project
}
---

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="mt-6 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
      <h3 class="text-secondary text-base font-medium">
        <span>human</span>
        <span class="font-bold">opinions</span>
      </h3>
      
    </div>
    <div class="flex flex-col text-secondary pt-2 mt-2 gap-12 lg:gap-32">
      {
        testimonials.map((opinion, index) => (
         <div    data-aos="fade-up"
         data-aos-duration={calculateAosDuration(index)} class="grid grid-cols-1 lg:items-end lg:grid-cols-4 py-4 gap-4">
            <p class="text-3xl leading-6 lg:col-span-3 lg:text-5xl lg:leading-9 indent-32 lg:indent-32">
              {opinion.opinion}
            </p>
            <p class="italic text-xs block ">
              {opinion.name} {opinion.role}
            </p>
         </div>
        ))
      }
    </div>
  </div>
</section>
