<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="mt-6 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
      <h3 class="text-secondary text-xs font-medium">
        <span> human</span>
        <span class="font-bold">opininons</span>
      </h3>
      <div class="h-1.5 bg-secondary"></div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6 pt-2 mt-2">
      <p class="text-xs leading-relaxed">
        <span class="italic block font-bold"
          >Amrit Nagi Founder of Tailwind Toolbox</span
        >
        I've been following Mike's career for a while now and it's amazing just how
        quickly the quality and variety of his work has developed and evolved! He's
        always learning or working on something new and constantly refining his work
        to be the best! His attention to detail, 'can do' attitude and work ethic
        is refreshing and he will definitely help you succeed!
      </p>
      <p class="text-xs leading-relaxed">
        <span class="italic block font-bold"
          >Gabriel Perales Software Engineer at Cabify</span
        >
        Mike has helped me with many designs, and I couldn't follow his working speed
        when we worked together. His designs are slick, and he delivers a lot of
        value; he is constantly iterating his designs and making improvements.
      </p>
      <p class="text-xs leading-relaxed">
        <span class="italic block font-bold"
          >Volkan Kaya Founder of Versoly.com</span
        >
        Mike is a rare breed of designer & developer that understands business needs.
        He leveraged his previous experience to build out a few landing pages very
        quickly for Versoly
      </p>
      <p class="text-xs leading-relaxed">
        <span class="italic block font-bold"> Mike Blogger at Raspada</span>
        I have had the absolute pleasure of working with Mike in the past when building
        my blog Raspada with its Backend UI or to building a private application
        for a leading hearing care company. Mike’s knowledge and attention to detail
        is second to none, and he really understands and listens to his clients (me).
      </p>
    </div>
  </div>
</section>
