---
import BaseHead from "../components/BaseHead.astro";
---

<html lang="en" class="selection:bg-secondary selection:text-secondary">
  <head>
    <BaseHead />
  </head>

  <body class="bg-primary">
    <slot />
    <script src="https://unpkg.com/mailgo@0.12.2/dist/mailgo.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"
    ></script>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
